* {
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background-image: url(0anime11.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.container {
    background: black;
    width: 500px;
    height: 100%;
    display: flex;
    color: white;
    padding:  20px;
    gap: 50px;
    flex-direction: column;
}
.heading {
    font-size: 20px;
}
.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0;

}
input {
    background: none;
    color: aliceblue;
    font-size: 15px;
    font-weight: bold;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border:  1.3px solid rgba(255, 255, 255, 0.668);

}
.inputs h2{
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.signin {
    background: blue;
    width: 400px;
    height: 50px;
    border-radius: 5px;
    border:  none;
    color: white;
    font-weight: bolder;
}
.forgot-link {
    text-decoration: underline rgba(255, 255, 255, 0.377);
    color: rgba(255, 255, 255, 0.451);
    font-size: 10px;
    font-weight: lighter;
    margin-top: 10px;
    display: inline-block;
    padding-right: 84%;
}
p {
    padding-top: 90px;
}
p a {
    text-decoration: none;
    color: white;
    font-size: 13px;
}
.signin:hover{
    scale: 1.01;
    box-shadow:   
    0 0 12px rgba(4, 60, 108, 0.6),
    0 0 30px rgba(87, 124, 199, 0.4),
    0 0 60px rgba(42, 55, 155, 0.3);;
}
.inputs button {
    font-size: 14px;
}
