* {
    margin: 0;
}
body, html {
    height: 100vh;
    box-sizing: border-box;
}
.cont-nav {

}
.nav-bar {
    display: flex;
    flex-direction: column;
}
.nav-bar ul  a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-weight: bold;
    padding: 8px 10px;
}
.nav-bar ul {
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: end;
    padding: 8px 10px;
}
header {
    height: 400px;
    width: auto;
    background: linear-gradient(90deg, #4b6cb7 0%, #182848 100%);
}
.info {
    padding: 20px 19px;
    margin-left: 20px;
    display: flex;
    position: relative;
    top: 100px;
    flex-direction: column;
    color: white;
}
.info a {
    height: 17px;
    width: 60px;
    text-align: center;
    background: rgb(241, 49, 81);
    text-decoration: none;
    color: white;
    padding: 6px 10px;
    border-radius: 4px;
}
.info h1 span {
    color: rgb(26, 1, 1);
}
.info h1, h2 {
   font-size: 40px;
}
.info h4, a {
    margin-top: 20px;
}
.info h4 {
    display: flex;
    width: 320px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}
.cont-services {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
}
.cont-services div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    color: white;
    background: rgb(43, 43, 43);
    box-shadow: 0 3px 8px rgba(0 ,0 ,0 , 0.7);
}

.cont-features {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    font-size: 16px;
}
.cont-features div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    height: 100px;
    width: 200px;
    border-radius: 8px;
    padding: 10px;
    color: white;
    background: rgb(43, 43, 43);
}
.contact {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
}
.contact form button {
    background:  rgb(241, 49, 81);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 4px;
    width: 100px;
}
.contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.contact form button {
    position: relative;
    top: 30px;
    right: 200px;
}
.contact form input {
    border: none;
    border-bottom: 2px solid rgba(62, 62, 62, 0.655);
    outline: none;
}
footer {
    display: flex;
    flex-direction: row; 
    margin-top: 50px;
    padding: 10px 22px;
}
.foot-nav {
    display: flex;
    justify-content: space-between;
    gap: 980px;
}
.foot-nav ul li {
    list-style: none;
}
.foot-nav ul li a {
    color: black;
    text-decoration: none;
}
.foot-nav ul {
    display: flex;
    gap: 20px;
}